body {
    font-family: 'Roboto', Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background: #000; 
    color: #e0e0e0;
}

main {
    padding: 50px 20px;
    text-align: center;
    margin: 60px;
}

.planos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.planos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 30px;
}

.plano {
    background-color: #80808021;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
    color: #e0e0e0;
    border: 3px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.plano:hover {
    border-color: rgb(0, 184, 148);
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

body {
    font-family: 'Roboto', Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background: #000; 
    color: #e0e0e0;
}

main {
    padding: 50px 20px;
    text-align: center;
    margin: 60px;
}
h1 {
    margin-bottom: 40px; 
    color: #38c1a0;
}
.planos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.planos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.plano {
    background-color: #80808021;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 320px;
    color: #e0e0e0;
    border: 3px solid rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.plano:hover {
    border-color: rgb(0, 184, 148);
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.plano-icon {
    font-size: 50px;
    color: #38c1a0;
    margin-bottom: 20px;
}

.plano h2 {
    color: #38c1a0;
    font-size: 24px;
    margin-bottom: 15px;
}

.plano ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.plano ul li {
    margin: 10px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plano ul li i {
    margin-right: 8px; 
    color: #38c1a0;
}

.btn-plano {
    padding: 12px 25px;
    background-color: #2e71c6;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-plano:hover {
    background-color: #2e71c6;
    transform: scale(1.05); 
}

@media (max-width: 768px) {
    .planos-container {
        flex-direction: column;
    }
}
