/* ESTILO DA PÁGINA */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background-color: #000;
    height: 100vg;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.interface {
    margin: 1280px;
    margin: 0;
}

.flex {
    display: flex;
}

span {
    color: #1a74b8;
}

/* ESTILO CABEÇALHO */

.logo {
    float: left;
    padding: 20px;   
}

.logo img{
    width: 150px;
    height: 100px;
}

header {
    display: flex;
    width: 100%;
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

header nav ul {
    list-style-type: none;
}

header ul li {
    margin-left: 20px;
    display: inline-block;
   
}
header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

header a:hover {
    color: #073252;
    transform: scale(1.05);
}

.menu-principal {
    background-color: #2ea754;
}

.link-menu {
    position: absolute;
    top: 40%;
    left: 15%;
}

.login-topo {
    position: absolute;
    top: 40%;
    right: 20%;
}

.btn-topo {
    position: absolute;
    top: 32%;
    right: 3%;
}

.btn-topo button {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    background-color: #1a74b8;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-topo button:hover {
    background-color: #2cea68;
    transform: scale(1.05);
}

/* ESTILO TOPO-DO-SITE */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #2cea68;
    font-size: 57px;
    line-height: 40px;
    padding-bottom: 30px;
}

.topo-do-site .txt-topo-site ul li {
    font-size: 17px;
    text-align: justify;
    margin: 10px 0px;
    margin-right: 20px;
    position: relative;
    left: 8%;
}

.txt-topo-site {
    padding-right: 400px;
}

.bnt-txt button {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    margin-top: 1%;
    margin-left: 2%;
}

.bnt-txt button:hover {
    background-color: #073252;
    transform: scale(1.05);
}

.bnt-txt .bnt-txt-1 {
    background-color: #1a74b8;
}

.bnt-txt .bnt-txt-2 {
    background-color: #2cea68;
}

/* ESTILO SECTION TXT-2 */

section.txt-2 {
    padding: 40px 4%;
    display: inline-block;
}

section.txt-2 .flex {
    align-items: center;
    justify-content: center;
    gap: 60px;
    justify-content: center;
}

.txt-2 h1 {
    color: #2cea68;
    font-size: 45px;
    padding-bottom: 70px;
    text-align: center;
}

.txt-2 .txt-box {
    height: 300px;
    width: 245px;
    align-items: center;
    font-size: 15px;
    border-radius: 20px;
    padding: 30px;
    display: inline-block;
}

.txt-2 .txt-box {
    transform: scale(1.05);
    box-shadow: 0 0 30px #073252;
}

.txt-2 .txt-box h3 {
    font-size: 18px;
    padding-bottom: 15px;
    text-align: center;
}

.txt-2 .txt-box p {
    font-size: 14px;
}

.txt-2 span:hover {
    color: #2cea68;
}


/* ESTILO SECTION ENCONTRE */

section.encontre {
    padding: 70px 4%;
}

section.encontre .flex {
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.encontre .serv-box {
    margin-top: 15px;
    border-radius: 20px;
    padding: 100px;
    transition: .2s;
    background-color: #073252;
    text-align: center;
    height: 350px;
    width: 400px;
    display: inline-block;
}

.encontre .serv-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #073252;
}

.serv-box i {
    display: flex;
    font-size: 40px;
    margin-bottom: 20px;
    justify-content: center;
}

.serv-box p {
    font-size: 14px;
    margin-bottom: 15px;
}

.serv-box h3 {
    font-size: 28px;
    justify-content: center;
    align-items: center;
}

/* ESTILO QUEM SOMOS */

section.txt-3 {
    padding: 70px 4%;
    background-color: #2cea68;
}

section.txt-3 .flex {
    align-items: center;
    gap: 40px;
}

.txt-3 .txt-quem-somos {
    border-radius: 20px;
    padding: 100px;
    padding-right: 200px;
}

.txt-3 .txt-quem-somos h2 {
    font-size: 60px;
    line-height: 40px;
}

.txt-3 .quem-somos p {
    font-size: 25x;
    text-align: justify;
}

/* ESTILO AVALIAÇÕES DE USUÁRIOS */

section.depoimentos{
    padding: 40px 4%;
}

section.depoimentos.flex {
    align-items: center;
    justify-content: center;
}

section.depoimentos .depoimentos-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.depoimentos {
    align-items: center;
    text-align: center;
    align-items: center;
}

.depoimentos h2 {
    padding-top: 40px;
    color: #2cea68;
    font-size: 45px;
    padding-bottom: 30px;
}

.depoimentos .depoimentos-box {
    margin-top: 15px;
    border-radius: 20px;
    padding: 30px;
}

.depoimentos h4 {
    font-size: 14px;
    padding: 10px;

}

.depoimentos p {
    font-size: 12px;
}

.depoimentos-box img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #073252;
}

/* ESTILO PLANOS */

section.planos{
    padding: 70px 4%;
}

section.planos .flex {
    align-items: center;
    justify-content: center;
    gap: 110px;
}

.planos .p-planos {
    width: 450px;
    height: 550px;
}

.planos h2 {
    color: #2cea68;
    font-size: 35px;
    text-align: center;
}

.planos p {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.planos h3 {
    font-size: 25px;
    text-align: center;
}

.planos h4 {
    font-size: 40px;
    padding: 20px;
    text-align: center;
}

.planos ul li {
    margin-left: 40px;
    font-size: 13px;
    padding: 3px;
}

.planos .bnt-planos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.planos .bnt-planos button {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #1a74b8;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.bnt-planos button:hover {
    background-color: #2cea68;
    transform: scale(1.05);
}

.planos .p-planos {
    margin-top: 15px;
    border-radius: 20px;
    padding: 20px;
    transition: .2s;
    background-color: #073252;
}

.planos .p-planos:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #073252;
}

/* ESTILO PRECISO DE AJUDA */

section.ajuda{
    padding: 40px 4%;
}

section.ajuda .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.ajuda h2 {
    padding: 30px;
    font-size: 38px;
    color: #fff;
}

.ajuda h3 {
    font-size: 23px;
    padding: 10px;
}

.ajuda p  {
    font-size: 13px;
    padding: 10px;
}

.ajuda a {
    font-size: 14px;
    color: #fff;
}

.ajuda a:hover {
    color: #2cea68;
}

.ajuda i {
    font-size: 35px;
    display: flex;
    margin-left: 10px;
    color: #2cea68;
}

.ajuda ul li {
    list-style-type: none;
}

/* ESTILO FOOTER */

footer {
    padding: 30px 4%;
    background-color: #2cea68;
}

footer .flex {
    justify-content: space-between;
}

footer .logo-footer {
    float: left;
}

footer .bnt-redes {
    float: right;
}

footer i {
    color: #fff;
    font-size: 15px;
}

.footer-2 {
    text-align: center;
}

.footer-2 a {
    text-decoration: none;
    color: #fff;
}
