/* ESTILO DA PÁGINA */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background-color: #000;
    height: 100vg;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    transition: .5s
}

.interface {
    margin: 1280px;
    margin: 0;
}

.flex {
    display: flex;
}

span {
    color: #2e71c6;
}

/* EFEITO SCROOLREVEAL*/

.efeito-txt-topo, .efeito-titulo, .efeito-box-1, .efeito-box-2, .efeito-box-3, .efeito-box-4, .efeito-serv-1, .efeito-serv-2, .efeito-quem-somos, .efeito-depoimentos-1, .efeito-depoimentos-2, .efeito-depoimentos-3, .efeito-depoimentos-4, .efeito-depoimentos-5, .efeito-planos, .efeito-ajuda{
    visibility: hidden;
}

/* ACESSIBILIDADE */

.trilho {
    width: 350px;
    height: 150px;
    background-color: #2f2f2f;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.trilho .indicador {
    width: 150px;
    height: 150px;
    background-color: #000000;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark {
    background-color: #c8c8c8;
}

.trilho.dark .indicador {
    left: 200px;
    background-color: #fff;
}

body.dark {
    background-color: #e3e3e3;
}

body.dark .txt-3,
body.dark footer {
    background-color: #2e71c6;
}

body.dark h1,
body.dark i {
    color: #2e71c6;
}

body.dark h3,
body.dark h4,
body.dark p,
body.dark ul li, 
body.dark a {
    color: #000;
}

body.dark span {
    color: #38c1a0;
}

body.dark footer *,
body.dark .txt-3 * {
    color: #fff;
}

/* ESTILO CABEÇALHO */

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
}

header nav ul {
    list-style-type: none;
}

header ul li {
    margin-left: 40px;
    display: inline-block;
   
}
header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

header ul li a:hover {
    color: #38c1a0;
}

.logo img {
    width: 120px;
    height: 60px;
    float: left;
    position:absolute;
    top: 20%;
}

.link-menu {
    position: absolute;
    top: 40%;
    left: 25%;
}

.login-topo {
    position: absolute;
    top: 40%;
    right: 20%;
}

.btn-topo {
    position: absolute;
    top: 30%;
    right: 3%;
}

.btn-topo button {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #38c1a0;
    color: #38c1a0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-topo button:hover {
    box-shadow: 0 0 15px #38c1a0, inset 0 0 15px #38c1a0;
    text-shadow: 0 0 15px #38c1a0;
    transform: scale(1.05);
}

/* ESTILO TOPO-DO-SITE */

section.topo-do-site{
    padding: 150px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 700px;
    background-color: #000;
    opacity: 0.3;
}

.txt-topo-site {
    padding-right: 400px;
    position: relative;
    z-index: 0;
}

.topo-do-site h1 {
    color: #38c1a0;
    font-size: 57px;
    line-height: 40px;
    padding-bottom: 20px;
    line-height: 50px;
}

.topo-do-site .txt-topo-site ul li {
    font-size: 17px;
    text-align: justify;
    margin: 5px 0px;
    position: relative;
    left: 8%;
    list-style-type: none;
}

.topo-do-site i {
    color: #2e71c6;
    margin-right: 10px;
    font-size: 18px;
}

.btn-txt {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn-txt-1 button {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #38c1a0;
    color: #38c1a0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-txt-1 button:hover {
    box-shadow: 0 0 15px #38c1a0, inset 0 0 15px #38c1a0;
    text-shadow: 0 0 15px #38c1a0;
    transform: scale(1.05);
}

.btn-txt-2 button {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #2e71c6;
    color: #2e71c6;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-txt-2 button:hover {
    box-shadow: 0 0 15px #2e71c6, inset 0 0 15px #2e71c6;
    text-shadow: 0 0 15px #2e71c6;
    transform: scale(1.05);
}

/* ESTILO SECTION TXT-2 */

section.txt-2 {
    padding: 40px 4%;
    padding-top: 50px;
}

section.txt-2 .flex {
    align-items: center;
    justify-content: space-around;
}

.txt-2 h1 {
    color: #38c1a0;
    font-size: 45px;
    padding-bottom: 40px;
    text-align: center;
}

.txt-2 .txt-box {
    height: 300px;
    width: 245px;
    align-items: center;
    font-size: 15px;
    padding: 30px;
    margin: 20px;
}

.txt-2 .txt-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #38c1a0;
}

.txt-2 .txt-box h3 {
    font-size: 18px;
    padding-bottom: 15px;
    text-align: center;
}

.txt-2 .txt-box p {
    font-size: 14px;
}

.txt-2 span:hover {
    color: #38c1a0;
}

/* ESTILO SECTION ENCONTRE */

section.encontre {
    padding: 40px 4%;
    padding-bottom: 150px;
}

section.encontre .flex {
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.serv-box button {
    margin-top: 15px;
    padding: 100px;
    transition: .2s;
    background-color: #5d5d5d21;
    text-align: center;
    height: 350px;
    width: 400px;
    display: inline-block;
    border: 0;
    cursor: pointer;
    border: 2px solid #38c1a0;
}

.serv-box button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #38c1a0;
}

.serv-box i {
    display: flex;
    font-size: 40px;
    margin-bottom: 20px;
    justify-content: center;
    color: #38c1a0;
}

.serv-box p {
    font-size: 14px;
    margin-bottom: 15px;
    color: #fff;
}

.serv-box h3 {
    font-size: 28px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* ESTILO QUEM SOMOS */

section.txt-3 {
    padding: 70px 4%;
    background-color: #38c1a0;
}

section.txt-3 .flex {
    align-items: center;
    gap: 40px;
}

.txt-3 .txt-quem-somos {
    border-radius: 20px;
    padding: 100px;
    padding-right: 200px;
}

.txt-3 .txt-quem-somos h1 {
    font-size: 60px;
    line-height: 53px;
}

.txt-3 .quem-somos p {
    font-size: 18px;
    text-align: justify;
}

/* ESTILO AVALIAÇÕES DE USUÁRIOS */

section.depoimentos{
    padding: 40px 4%;
}

section.depoimentos .flex {
    align-items: center;
    justify-content: center;
    text-align: center;
}

section.depoimentos .depoimentos-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.depoimentos .depoimentos-box {
    margin-top: 15px;
    border-radius: 20px;
    padding: 30px;
}

.depoimentos h2 {
    padding-top: 40px;
    color: #38c1a0;
    font-size: 45px;
    padding-bottom: 30px;
}

.depoimentos h4 {
    font-size: 14px;
    padding: 10px;

}

.depoimentos p {
    font-size: 12px;
}

.depoimentos-box img {
    box-shadow: 0 0 20px #38c1a0;
}

/* ESTILO PLANOS */

section.planos{
    padding: 70px 4%;
}

section.planos .flex {
    align-items: center;
    justify-content: space-around;
}

.planos .p-planos {
    padding: 50px;
    transition: .2s;
    margin-top: 60px;
    background-color: #5d5d5d21;
    border: 2px solid #38c1a0;
}

.planos h1 {
    padding: 20px;
    color: #38c1a0;
    font-size: 38px;
    text-align: center;
}

.planos p { 
    font-size: 15px;
    text-align: center;
}

.planos h3 {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #2e71c6
}

.planos h4 {
    font-size: 75px;
    padding: 20px;
    text-align: center;
    text-shadow: 0 0 15px #38c1a0;
}

.planos ul li {
    list-style-type: none;
    font-size: 16px;
}

.planos i {
    font-size: 18px;
    margin-right: 20px;
    color: #2e71c6;
}

.planos .btn-planos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.planos .btn-planos button {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #38c1a0;
    color: #38c1a0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-planos button:hover {
    box-shadow: 0 0 15px #38c1a0, inset 0 0 15px #38c1a0;
    text-shadow: 0 0 15px #38c1a0;
    transform: scale(1.05);
}

.planos .p-planos {
    box-shadow: 0 0 10px #38c1a0;
}

/* ESTILO PRECISO DE AJUDA */

section.ajuda{
    padding: 40px 4%;
    padding-bottom: 80px;
}

section.ajuda .flex {
    align-items: center;
    justify-content: space-around;
}

.ajuda h1 {
    padding: 40px;
    font-size: 38px;
    color: #38c1a0;
}

.ajuda i {
    font-size: 35px;
    display: flex;
    margin-left: 10px;
    color: #38c1a0;
}

.ajuda h3 {
    font-size: 30px;
    padding: 10px;
}

.ajuda p  {
    font-size: 16px;
    padding: 10px;
}

.ajuda a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.ajuda a:hover {
    color: #38c1a0;
}

.ajuda ul li{
    list-style-type: none;
}

/* ESTILO FOOTER */

footer {
    padding: 30px 4%;
    background-color: #38c1a0;
}

footer .flex {
    justify-content: space-between;
}

.footer-1 i {
    color: #fff;
    font-size: 25px;
    margin-left: 10px;
}

.footer-2 {
    text-align: center;
}

.footer-2 a {
    text-decoration: none;
    color: #fff;
}

.logo-footer img {
    width: 120px;
    height: 60px;
    float: left;
}