/* ESTILO DA PÁGINA */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background-color: #000;
    height: 100vg;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.interface {
    margin: 1280px;
    margin: 0;
}

.flex {
    display: flex;
}

span {
    color: #1a74b8;
}

/* ESTILO CABEÇALHO */

.logo {
    float: left;
    padding: 20px;
   
}

header {
    display: flex;
    width: 100%;
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

header nav ul {
    list-style-type: none;
}

header ul li {
    margin-left: 20px;
    display: inline-block;
   
}
header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

header a:hover {
    color: #073252;
    transform: scale(1.05);
}

.menu-principal {
    background-color: #2cea68;
}

.link-menu {
    position: absolute;
    top: 40%;
    left: 15%;
}

.login-topo {
    position: absolute;
    top: 40%;
    right: 20%;
}

.btn-topo {
    position: absolute;
    top: 32%;
    right: 3%;
}

.btn-topo button {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    background-color: #1a74b8;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-topo button:hover {
    background-color: #2cea68;
    transform: scale(1.05);
}

/* ESTILO TOPO-DO-SITE */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #2cea68;
    font-size: 57px;
    line-height: 40px;
    padding-bottom: 30px;
}

.topo-do-site .txt-topo-site ul li {
    font-size: 17px;
    text-align: justify;
    margin: 10px 0px;
    margin-right: 20px;
    position: relative;
    left: 8%;
    padding-bottom: 10px;
}

.txt-topo-site {
    padding-right: 400px;
}

.bnt-txt button {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-color: #2cea68;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    margin-top: 1%;
    margin-left: 0.5%;
}

/* ESTILO SECTION TXT-2 */

section.txt-2 {
    padding: 40px 4%;
}

section.txt-2 .flex {
    align-items: center;
    justify-content: center;
    gap: 60px
}

.txt-2 .txt-box {
    font-size: 14px;
    border-radius: 20px;
    padding: 30px;
}

.txt-2 .txt-box {
    transform: scale(1.05);
    box-shadow: 0 0 30px #073252;
}

.txt-2 h2 {
    color: #2cea68;
    font-size: 45px;
    padding-bottom: 30px;
    text-align: center;
}

.txt-2 .txt-box h3 {
    font-size: 22px;
    padding-bottom: 10px;
}

/* ESTILO SECTION ENCONTRE */

section.encontre {
    padding: 40px 4%;
}

section.encontre .flex {
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.encontre .serv-box {
    margin-top: 15px;
    border-radius: 20px;
    padding: 100px;
    transition: .2s;
    background-color: #073252;
}

.encontre .serv-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #073252;
}

.serv-box p {
    font-size: 13px;
}

.serv-box h3 {
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

/* ESTILO QUEM SOMOS */

section.txt-3 {
    padding: 70px 4%;
    background-color: #2cea68;
}

section.txt-3 .flex {
    align-items: center;
    gap: 60px;
}

.txt-3 .txt-quem-somos {
    border-radius: 20px;
    padding: 100px;
    padding-right: 200px;
}

.txt-3 .txt-quem-somos h2 {
    font-size: 40px;
    line-height: 40px;
}

.txt-3 .quem-somos p {
    font-size: 20x;
    text-align: justify;
}

/* ESTILO AVALIAÇÕES DE USUÁRIOS */

section.depoimentos{
    padding: 40px 4%;
}

section.depoimentos.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.depoimentos h2 {
    color: #2cea68;
    font-size: 45px;
    padding-bottom: 30px;
    text-align: center;
}

.depoimentos .depoimentos-box {
    margin-top: 15px;
    border-radius: 20px;
    padding: 30px;
    transition: .2s;
}

.depoimentos .depoimentos:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #073252;
}

.depoimentos h4 {
    font-size: 14px;
    padding: 3px;
}

.depoimentos p {
    font-size: 12px;
}
/* ESTILO PLANOS */

section.planos{
    padding: 40px 4%;
}

section.planos.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.planos h2 {
    color: #2cea68;
    font-size: 35px;
    padding-bottom: 30px;
    text-align: center;
}

.planos p {
    font-size: 14px;
    text-align: center;
}

.planos .p-empresa {
    margin-top: 15px;
    border-radius: 20px;
    padding: 100px;
    transition: .2s;
    background-color: #073252;
}

.planos .p-empresa:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #073252;
}

.p-empresa p {
    font-size: 13px;
}

.p-empresa h3 {
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.planos .p-freelancer {
    margin-top: 15px;
    border-radius: 20px;
    padding: 100px;
    transition: .2s;
    background-color: #073252;
}

.planos .p-freelancer:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #073252;
}

.p-freelancer p {
    font-size: 13px;
}

.p-freelancer h3 {
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

/* ESTILO PRECISO DE AJUDA */

section.ajuda{
    padding: 40px 4%;
}

section.ajuda.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

/* ESTILO FOOTER */

footer {
    padding: 40px 4%;
    background-color: #2cea68;
}

footer.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}