*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    
}

body {
    background-color: #000;
    height: 100vg;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.interface {
    margin: 1280px;
    margin: 0;
}

.flex {
    display: flex;
}

span {
    color: #1a74b8;
}

/* ESTILO CABEÇALHO */

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
}

header nav ul {
    list-style-type: none;
}

header ul li {
    margin-left: 40px;
    display: inline-block;
   
}
header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

header ul li a:hover {
    color: #38c1a0;
}

.logo img {
    width: 120px;
    height: 60px;
    float: left;
    position:absolute;
    top: 20%;
}

.link-menu {
    position: absolute;
    top: 40%;
    left: 25%;
}

.login-topo {
    position: absolute;
    top: 40%;
    right: 20%;
}

.btn-topo {
    position: absolute;
    top: 30%;
    right: 3%;
}

.btn-topo button {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    background-color: #38c1a0;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-topo button:hover {
    background-color: #1af5c2;
    transform: scale(1.05);
}

/* ESTILO TOPO-DO-SITE */

section.topo-do-site{
    padding: 150px 4%;
}

section.topo-do-site.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.search-box {
    height: 20;
    background-color: white;
    width: 20;
}

.search-txt {
    height: 50;
    margin-right: 50;
}

h1 {
    color:#000;
}

h3 {
    color: #000;
}

span {
    color: #000;

}

.Cards {
    padding: 120px 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Card1 {
    background-color: #ffffffaa;
    width: 760px;
    height: 180px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    margin: 20px;
    padding: 30px;
}

.Card1 button {
    background-color: rgb(0, 224, 75);
    height: 30px;
    border: none;
    padding: 4px;
    width: 20%;
    color: #fff;
    border-radius: 4px;
}

.Card1 button:hover {
    background-color: rgb(0, 252, 105);
    cursor: pointer;
    transform: scale(1.05);
}


