/* MENU LATERAL */

nav.menu-lateral {
    width: 60px;
    height: 100%;
    background-color: #00000029;
    padding: 40px 5px;
    box-shadow: 3px 0 15px #d450e3;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 500;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i {
    font-size: 34px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: #d450e3;
    box-shadow: 0 0 15px #d450e3;
}

ul li.item-menu:hover {
    background-color: #e379efd0;
    box-shadow: 0 0 15px #e379efd0;
}

ul li.item-menu a {
    text-decoration: none;
    font-size: 18px;
    padding: 20px 4%;
    display: flex;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    color: #fff !important;
    margin-left: 70px;
    transition: 1s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu .icon > i {
    font-size: 30px;
    margin-left: 30%
}



/* ESTILO DA PÁGINA */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background-color: #000;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    transition: .5s
}

h1 {
    font-family: sans-serif;
    color: #000000;
    margin-bottom: 3px;
} 

h3 {
    color: black;
    margin-bottom: 3px;
}

span {
    color: #000;
    margin-bottom: 5px;
}


section.cards {
    padding: 20px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card1 {
    background-color: #ffffffaa;
    width: 760px;
    height: 180px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    margin: 20px;
    padding: 30px;
}

.Card1 button {
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(0, 224, 75);
    height: 35px;
    border: none;
    padding: 4px;
    width: 20%;
    color: #fff;
    border-radius: 4px;
}

.mensagem button{
    background-color: #d450e3;
}

.Card1 button:hover {
    background-color: rgb(0, 252, 105);
    cursor: pointer;
    transform: scale(1.05);
}


